.decaf-sponsors {

    &__left {
        background-image: url(/decaf-sponsors-left.svg);
        background-position: right;
    }

    &__content {
        &-head {
            padding-top: 4rem;
            font-size: 3rem;
            font-weight: 900;

            &-sm {
                padding-top: 0;
                font-size: 1.5rem;
            }
        }
    }

    &__right {
        background-image: url(/decaf-sponsors-right.svg);
        background-position: left;
    }
}