.decaf-faq {
    width: 100%;
    background: $decaf-dark-blue;
    color: white;

    &__head {
        text-align: center;
        padding-top: 4rem;
        font-size: 3rem;
        font-weight: 900;

        &-sub {
            text-align: center;
            font-size: 1.489rem;
        }
    }
}

.question {
    border: solid 2px white;
    font-size: 1.2rem;
    text-align: initial;
    border-radius: $border-radius * 4;
    margin-bottom: 2rem;
    background: white;

    &__heading {
        margin: 0.8rem 2rem;
        text-align: center;

        a {
            color: $decaf-dark-blue;
            font-size: 1.4rem;
            font-weight: 800;

            &:hover {
                text-decoration: none;
            }

            &[aria-expanded="true"] {
                .question__icon {
                    transform: rotate(135deg);
                    -webkit-transition-duration: 0.5s;
                    -moz-transition-duration: 0.5s;
                    -o-transition-duration: 0.5s;
                    transition-duration: 0.5s;
                }
            }


            &[aria-expanded="false"] .question__icon {
                transform: rotate(0);
                -webkit-transition-duration: 0.5s;
                -moz-transition-duration: 0.5s;
                -o-transition-duration: 0.5s;
                transition-duration: 0.5s;
            }
        }
    }

    &__content {
        margin: 0 2rem;
        color: $decaf-dark-blue;
    }
}