.decaf-companies {
    width: 100%;
    background: white;
    font-family: 'Woodchuck', sans-serif;

    &__filterbar {
        text-align: center;
        padding-top: 1.5rem;
    }

    &__filter-input {
        border: solid 5px $decaf-zzzquil;
        border-radius: 10px;
        padding: 1.5rem;
        font-size: 1.5rem;
        color: $decaf-zzzquil;
    }

    &__filter-select {
        div[class$='control'] {
            border: solid 5px $decaf-zzzquil;
            border-radius: 10px;
            font-size: 1.5rem;
            color: $decaf-zzzquil;

            & > div:first-child {
                padding-left: 1.5rem;
                padding-right: 1.5rem;
            }

            & > div:nth-child(2) {
                background: $decaf-zzzquil;
                display: flex;
                justify-content: center;
                width: 15%;

                span {
                    background-color: transparent;
                }
            }
        }
    }

    &__head {
        padding: 4.5rem 0;
        background-color: $decaf-orange-soda;

        h1 {
            font-family: 'Woodchuck', sans-serif;
            font-weight: 900;
            font-size: 42.12px;
            color: white;

            span {
                color: $decaf-zzzquil;
            }
        }

        .coffee {
            text-align: right;
            font-family: 'Woodchuck', sans-serif;
            font-weight: 900;
            font-size: 102.845px;
            text-shadow: 10px -10px 0px $decaf-zzzquil;
        }

        .year {
            text-align: left;
            font-family: 'Woodchuck', sans-serif;
            font-weight: 900;
            font-size: 47.62px;
            text-shadow: 10px -10px 0px $decaf-zzzquil;
        }

        .cup {
            margin-left: 5rem;
        }

        .notes {
            margin-left: 3rem;
        }
    }

    &__container {
        width: 80%;
        margin-left: 10%;
        margin-bottom: 1%;
        margin-top: 1%;

        @include media-breakpoint-down(sm) {
            text-align: center;
        }

        p {
            font-size: 1.05rem;
            margin-top: 2rem;

            b {
                font-weight: 900;
            }
        }
    }

    &__map {
        background: $decaf-dark-blue;
        border: 2px solid $decaf-dark-blue;
        p {
            padding: 1rem;
            margin-bottom: 0;
            color: white;
            text-decoration: none;
            text-align: center;
        }
    }

    &__nav {
        padding: 1rem 0;
        background: $decaf-zzzquil;

        .btn {
            font-size: 24px;
            border-radius: 40px;
            padding-left: 1rem;
            padding-right: 1rem;
            background-color: $decaf-taro-slush;
            color: $decaf-zzzquil;
        }
    }

    &__button {
        color: $decaf-dark-blue !important;
        background: white;
        font-size: 2rem;
        border-radius: 1rem;
        margin-bottom: 5rem;
        padding: 0.5rem;
        border: solid 3px $decaf-dark-blue;

        &:hover {
            background: $decaf-dark-blue;
            color: white !important;
            text-decoration: none;
        }
    }
}
