.decaf-sponsor {

    margin: 2rem 0;

    &__img {
        width: 80%;
        display: block;
        margin: auto;
        transition: width 0.3s;
        transform-origin: 50% 50%;
        &:hover {
            width: 75%;
        }
    }
}