.decaf-company {
    &__name {

    }

    &__positions {

    }
    
    &__fields {
      margin-top: 20px;
      display: flex;
      flex-flow: row wrap;
    }

    &__nationalities {
      margin-top: 10px;
      display: flex;
      flex-flow: row wrap;
    }

    &__nationality {
      margin-right: 5px;
      margin-bottom: 5px;
    }


    &__field {
      margin-right: 5px;
      margin-bottom: 5px;
    }

    &__footer {
      background-color: white !important;
      display: flex; 
      justify-content: flex-end;
    }

    &__avatar {
      margin-left: 5px;
      margin-right: 5px;
      color: white;
      width: 2rem;
      height: 2rem;
      padding-top: 0.3rem;
      border-radius: 50%;

      $colors: (
        blue: blue,
        green: green,
        yellow: yellow,
        purple: purple
      );

      @each $name, $hex in $colors {
        &-#{$name} {
          background: $hex;
        }
      }
    }
}