.decaf-faq {
    background-color: $decaf-zzzquil;
    padding: 15rem 0;
    position: relative;

    &__title {
        color: black;
        font-weight: 900;
        font-size: clamp(1.5rem, 3vw, 3rem);
        position: relative;
        top: -16vw;

        @include media-breakpoint-down(sm) {
            top: -23vw;
        }

        em {
            color: $decaf-zzzquil;
            font-size: clamp(2rem, 4vw, 4rem);
            font-style: normal;
            text-shadow: 8px 8px 0px $decaf-lemon-drop;
        }
    }

    &__spotlight {
        width: 60%;

        @include media-breakpoint-down(sm) {
            width: 90%;
        }
    }

    &__border-top {
        width: 100%;
        position: absolute;
        top: -35px;
    }

    &__border-bottom {
        width: 100%;
        position: absolute;
        bottom: -35px;
    }

    &__sticker-set {
        width: 100%;

        @include media-breakpoint-down(md) {
            display: none;
        }
    }
}

.decaf-question {
    border: solid 2px white;
    font-size: clamp(1rem, 1.3vw, 1.3rem);
    margin-bottom: 2rem;
    background: white;

    &__heading {
        margin: 0.8rem 2rem;

        a {
            color: black;
            font-family: Woodchuck;
            font-style: normal;
            font-weight: bold;

            &:hover {
                text-decoration: none;
            }

            &[aria-expanded='true'] {
                .question__icon {
                    transform: rotate(180deg);
                    -webkit-transition-duration: 0.5s;
                    -moz-transition-duration: 0.5s;
                    -o-transition-duration: 0.5s;
                    transition-duration: 0.5s;
                }
            }

            &[aria-expanded='false'] .question__icon {
                transform: rotate(0);
                -webkit-transition-duration: 0.5s;
                -moz-transition-duration: 0.5s;
                -o-transition-duration: 0.5s;
                transition-duration: 0.5s;
            }
        }
    }

    &__content {
        margin: 0 2rem;
        color: black;
        font-family: Woodchuck;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;

        .panel-body {
            padding-bottom: 1rem;

            .panel-answer {
                display: flex;
                align-items: center;
            }
        }
    }
}
