.decaf-sponsors {
    background-color: $decaf-taro-slush;
    padding: 15rem 0;

    &__title {
        font-weight: 900;
        text-align: center;
        line-height: 150%;
        color: $decaf-grapevine;
        margin: auto;

        span {
            font-size: 150%;
        }
    }

    &__logo-container {
        background: white;
        padding: 7rem;
        margin: 3rem 0;
        border-radius: 20px;
    }

    &__pot-head {
        position: absolute;
        width: 100%;
        height: auto;
        top: 15%;
        left: 30%;
        z-index: 2;
    }

    &__shadow {
        position: absolute;
        width: 100%;
        height: auto;
        top: 19%;
        left: 45%;
        z-index: 1;
    }

    &__buford {
        width: 100%;
        height: auto;
        position: absolute;
        z-index: 1;
        bottom: 10%;
        right: 25%;
    }

    &__contact {
        text-align: center;
        color: $decaf-zzzquil;
        font-weight: bold;
        line-height: 150%;
        font-size: 3vw;
        margin: 0 12%;
    }
}
