.decaf-hero {
    padding: 5rem 0;
    background: linear-gradient(180deg, #fff 65%, $decaf-scarlet-blush 65%);

    &__content {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        justify-content: space-between;

        h1 {
            color: $decaf-sunkist-scarlet;
            font-weight: 900;
            font-size: 6.25rem;
            margin-bottom: 0;
        }

        h2 {
            font-size: 3rem;
            margin-bottom: 1rem;
        }

        p {
            color: $decaf-sunkist-scarlet;
            font-size: 1.5rem;
            margin-bottom: 3rem;
        }

        .btn {
            font-size: 2rem;
            font-weight: 700;
            background-color: $decaf-scarlet-blush;
            border-radius: 50px;
            border-color: $decaf-scarlet-blush;
            padding: 0.375rem 1.3rem;
        }
    }
}
