.decaf-companies {
    width: 100%;
    background: white;


    &__filterbar {
        text-align: center;
        margin-top: 1.5rem;
        //margin-bottom: 4.5rem;
        margin-left: 10%;
        width: 80%;
    }

    &__head {
        text-align: center;
        font-size: 3rem;
        margin-top: 4.5rem;

        b {
            font-weight: 900;
        }
    }

    &__container {
        width: 80%;
        margin-left: 10%;
        margin-bottom: 1%;
        margin-top: 1%;
        
        @include media-breakpoint-down(sm) {
            text-align: center;
        }

        p {
            font-size: 1.05rem;
            margin-top: 2rem;

            b {
                font-weight: 900;
            }
        }
    }

    
    &__map {
        background: $decaf-dark-blue;
        border: 2px solid $decaf-dark-blue;
        p {
            padding: 1rem;
            margin-bottom: 0;
            color: white;
            text-decoration: none;
            text-align: center;
        }
    }

    &__key {
        margin-top: 3rem;
    }
}

