.decaf-company {
    &__name {

    }

    &__positions {

    }
   
    &__card {
      max-width: 230px;
    }
    
    &__fields {
      margin-top: 20px;
      display: flex;
      flex-flow: row wrap;
    }

    &__nationalities {
      margin-top: 10px;
      display: flex;
      flex-flow: row wrap;
    }

    &__nationality {
      margin-right: 5px;
      margin-bottom: 5px;
    }


    &__field {
      margin-right: 5px;
      margin-bottom: 5px;
    }

    &__footer {
      background-color: white !important;
      display: flex; 
      justify-content: flex-end;
    }

    &__body {
      font-size: 2rem;
    }

    &__keyname {
      max-width: calc(100% - 2.1rem);

      @include media-breakpoint-down(md) {
        width: auto;
      }
    }

    &__avatar {
      color: white;
      width: 2.1rem;
      height: 2.1rem;
      padding-top: 0.3rem;
      border-radius: 50%;

      & + & {
        margin-left: 5px;
      }

      $colors: (
        blue: #2F6192,
        green: #1A967E,
        yellow: #DD8940,
        purple: #FFBF00
      );

      @each $name, $hex in $colors {
        &-#{$name} {
          background: $hex;
        }
      }
    }
}