.decaf-footer {
    background-color: black;
    color: white;
    padding: 5rem 0;
    text-align: center;
}

.decaf-subtitle {
    font-weight: 700;
    font-style: normal;
    font-size: 2vw;
}

.decaf-tesc {
    width: 37%;
    height: auto;
}

.decaf-desc {
    font-weight: 400;
    font-style: normal;
    font-size: 1.5vw;
    width: 75%;
    margin: 0 auto;
    padding-top: 2vw;
}