.decaf-about {
    background-color: $decaf-scarlet-blush;
    color: white;
    padding: 5rem 0;
}

// small section after the Statistics section. Don't want to make a separate file for this.
.decaf-announcement {
    background-color: $decaf-scarlet-blush;
    padding: 5rem 0 15rem 0;
}
