.decaf-sponsors {

    &__left {
    }

    &__content {
        &-head {
            font-size: 2rem;
            font-weight: 900rem;

            &-sm {
                font-size: 1.5rem;
            }
        }
    }

    &__right {

    }
}