$matcha-dark: #252026;
$matcha-light-green: #73c78b;
$matcha-dark-green: #28534a;

@import 'components/all';
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');
@font-face {
    font-family: 'Bauhaus';
    font-style: normal;
    font-weight: 800;
    src: local('Bauhaus'),
        url('../../../pages/MatchaPage/static/BauhausHeavyRegular.otf')
            format('opentype');
}

#matcha-main {
    main {
        overflow: hidden;
        font-family: 'Lato', sans-serif;
    }
}

.matcha-btn {
    padding: 0.3em 1em;
    font-size: clamp(1rem, 4vw, 2rem);
    line-height: 1.5;
    border-radius: 1em;
    background: $matcha-dark-green;
    border: none;
    filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.25));
    z-index: 5;

    &-outline {
        color: $matcha-light-green;
        background: transparent;
        border: 5px solid $matcha-light-green;
    }

    &-outline:hover {
        color: white;
        background: $matcha-light-green;
        border: 5px solid $matcha-light-green;
    }

    &:hover {
        background: $matcha-light-green;
    }
}

/* UTILITY CLASSES */

/* standard padding size for page sections (if padding is needed) */
.matcha {
    &__px-std {
        padding-left: clamp(3rem, 7vw, 7rem);
        padding-right: clamp(3rem, 7vw, 7rem);
    }

    &__bg-dark-green {
        background: $matcha-dark-green;
    }

    &__font-bauhaus {
        font-family: 'Bauhaus', 'lato', sans-serif;
    }

    &__font-lato {
        font-family: 'lato', sans-serif;
    }
}
