$matcha-dark: #252026;
$matcha-light-green: #73c78b;
$matcha-dark-green: #28534a;

@import 'components/all';
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

#matcha-main {
    font-family: 'Lato', sans-serif;
}

/* UTILITY CLASSES */

/* standard padding size for page sections (if padding is needed) */
.matcha {
    &__p-std {
        padding: 2rem 5rem;
    }

    &__bg-dark-green {
        background: $matcha-dark-green;
    }
}
