.about {
    width: 80%;
    margin-left: 10%;
    height: 100%;
    margin-top: 6rem;
    margin-bottom: 6rem;

    &__header {
        font-size: 2.5rem;
        color: $tesc-blue;
        font-weight: bold;

        &-red {
            color: $tesc-red;
            font-size: 1.3rem;
        }
    }

    &__member {
        &:hover {
            cursor: pointer;
        }
    }

    &__copy {
        font-size: 1.5rem;
    }

    &__blue {
        color: $tesc-blue;
    }

    &__text {
        font-size: 1.2rem;
    }
}
