.board {

    &__card {
        //border: none;
    }

    &__header {
        font-size: 1.3rem;
        color: $tesc-blue;

        &:hover {

        }
    }

    &__body {
        background: $tesc-light-blue;
        color: white;

        &-small {
            font-size: 1.3rem;
        }

        &-big {
            font-size: 2.5rem;
        }
    }

    &__member {
        border-radius: 1rem;
        transition: background-color 0.05s linear;
        width: 100%;



        &:hover {
            background: white;
            color: $tesc-light-blue;
            cursor: pointer;
            border-radius: 1rem;
            color: $tesc-light-blue;

            box-shadow: $extended-shadow;
            
        }

        @for $i from 0 through 4 {
            &-full-#{$i} {
                z-index: 1000;
                background: white;
                color: $tesc-light-blue;
                display: none;
                -moz-box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.3);
                -khtml-box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.3);
                -webkit-box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.3);
                box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.3);
                border-radius: 1rem;
                padding: 1rem;

                @if $i == 0 {
                    border-top-left-radius: 0;
                }

                @if $i == 3 {
                    border-top-right-radius: 0;
                }
                
                width: 400%;
                position: relative;
                margin-left: -100% * $i;

                @include media-breakpoint-down(sm) {
                    width: 100%;
                    margin-left: 0;
                    border-top-left-radius: 0;
                    border-top-right-radius: 0;
                }
            }

            &-active-#{$i} {
                background: white;
                color: $tesc-light-blue;
                cursor: pointer;
                border-radius: 1rem;
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
                color: $tesc-light-blue;
    
                box-shadow: $extended-shadow;   
    
            }
        }

        &-img {

            $dim: 12rem;
            $dim-md: 10rem;

            border-radius: 50%;
            background-size:cover;
            background-repeat:no-repeat;
            width: 1.1 * $dim;
            height: 1.1 * $dim;
            display: block;
            margin: 0 auto;
            border: 5px solid white;

            @include media-breakpoint-down(md) {
                width: $dim-md;
                height: $dim-md;
            }

            @include media-breakpoint-down(sm) {
                width: 1.3 * $dim;
                height: 1.3 * $dim;
            }

        }
        
        &-title {
            font-size: 1rem
        }

        &-name {
            margin-top: 0.5rem;
            font-size: 1.5rem;
            font-weight: bold;
        }
    }

    &__row {
        margin: 3rem 0;
    }
}

.btn-cta {
    background: $tesc-red;
    box-shadow: 0px 5px 10px rgba(255, 110, 116, 0.5);
    border: solid 2px $tesc-red;
    border-radius: 19px;
    font-size: 1.4rem;
    padding: 0.1rem;
    margin-bottom: 1rem;

    a {
        color: white !important;
    }

    &:hover {
        background: transparent;

        a {
            color: $tesc-red !important;
        }
    }
}

.full {
    &__title {
        color: $tesc-red;
        font-size: 1.4rem;
    }

    &__name {
        font-weight: bold;
        color: $tesc-light-blue;
        font-size: 2.05rem;
    }

    &__bio {
        font-size: 1.6rem;
        margin-top: 1rem;
    }

    &__connect {
        font-size: 1.3rem;
        margin-top: 1rem;
        font-weight: bold;
        display: block;

        a {
            color: $tesc-blue;
            //text-decoration: underline;
            overflow: hidden;
            &:hover {
                color: $tesc-red;
            }
        }

        span {
            text-decoration: underline;
        }
    }
}