.contact {
    text-align: center;
    background: $contact-gradient;
    height: 18rem;
    position: relative;
    transform: translateY(-2px);

    &:before {
        display: block;
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        bottom: -1px;
        left: 0;
        background-image: url(/contact-clip.svg);
        background-position: bottom;
        background-size: cover;
        background-repeat: no-repeat;
    }

    &--sponsor {
        background: $contact-gradient;
    }

    &__link {
        color: $tesc-red;
        text-decoration-style: wavy;
        position: relative;

        &:hover {
            color: white;
            text-decoration: none;
        }

        &:after {
            display: block;
            content: '';
            width: 100%;
            height: 0.5rem;
            position: absolute;
            bottom: -0.5rem;
            left: 0;
            padding: 0 0.5rem;
            background-size: contain;
            background-repeat: repeat-x;
        }
    }

    &__header {
        font-size: clamp(2rem, 2.5vw, 2.5rem);
        color: $white;
        z-index: 2;
        line-height: 1.7;
    }
    
    &__footer {
        font-size: clamp(2rem, 2.5vw, 2.5rem);
        color: $white;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 10rem;
    }
}
