.finance {

    &__head {
        font-size: 1.4rem;
    }

    &__pill {
        background: transparent;
        color: $tesc-blue;
        padding: 0.8rem;
        border: solid 2px $tesc-blue;
        font-size: 1.2rem;

        @include media-breakpoint-down(sm) {
            font-size: 0.8rem;
        }

        &-l {
            border-top-left-radius: 5pc;
            border-bottom-left-radius: 5pc;

        }

        &-r {
            border-top-right-radius: 5pc;
            border-bottom-right-radius: 5pc;
        }

        &-active {
            background: $tesc-blue;
            color: white;
        }

        &:hover {
            cursor: pointer;
        }
    }

    p {
        font-size: 1.6rem;
        margin: 1rem 0;
        text-align: center;
    }

    &__em {
        color: $tesc-red;
    }

    &__list {
        font-size: 1.2rem;
        margin: 0.5rem 1rem;
    }
}

.button {
    background: $tesc-blue;
    color: white;
    padding: 0.8rem;
    font-size: 2rem;
    border-radius: 5pc;
    margin: 1rem 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0.8rem 1.6rem;
    width: fit-content;

    &:hover {
        cursor: pointer;
    }
}

a {
    color: inherit;
    text-decoration: none;

    &:hover {
        color: inherit;
        text-decoration: none;
    }
}