.hero {
    width: 90%;
    margin-left: 10%;
    display: block;
    margin-top: 4rem;

    @include media-breakpoint-down(sm) {
        margin-left: 0;
        width: 100%;
    }

    &__copy {
        color: $tesc-blue;
        font-size: 2.6rem;
        font-weight: bold;
        //max-width: 23rem;
        margin-top: -6rem;

        &-orgs {
            font-size: 2.3rem;
            color: $tesc-blue;
            font-weight: bold;
        }
        
        &-word {
            transition: color 0.5s ease;
            
            &__grey {
                color: grey;
            }
        }

        @include media-breakpoint-down(sm) {
            text-align: center; 
            margin-top: 1.5rem; 
        } 
    }

    &__cta {
        color: $white;
        &-btn {
            margin-top: 2rem;
            background: $tesc-red;
            box-shadow: 0px 5px 10px rgba(255, 110, 116, 0.5);
            width: 180px;
            height: 38px;
            border-radius: 19px;
            &:hover {
                box-shadow: 0px 8px 15px rgba(255, 110, 116, 0.5);
                transform: translateY(-1px)
            }

            &_lg {
                width: 360px;
                height: 76px;            
                background: $tesc-red;
                box-shadow: 0px 5px 10px rgba(255, 110, 116, 0.5);

                border-radius: 19px;
                &:hover {
                    box-shadow: 0px 8px 15px rgba(255, 110, 116, 0.5);
                }
            }
        }

        @include media-breakpoint-down(sm) {
            text-align: center;  
        }
    }

    &__graphic {
        max-height: 85%;
    }
}