.join {
    background: white;

    &__container {
        width: 80%;
        display: inline-block;
        margin-left: 10%;
        height: 80%;
        border-radius: 2.5rem;
        color: $tesc-light-blue;
        font-size: 1.3rem;
    }

    &__form {
        margin: 2rem 1rem;
    }

    &__header {
        font-size: 2.5rem;
        color: $tesc-light-blue;
        font-weight: bold;
    }

    &__btns {
        margin: 5rem 0;
    }

    &__cta {
        font-size: 1.5rem;
        border: 2px solid $tesc-light-blue;
        margin-top: 0.5rem;
        color: $tesc-light-blue;

        &:hover {
            background: white;
            color: $tesc-blue !important;
        }
    }
}