$decaf-sunkist-scarlet: #e55b42;
$decaf-scarlet-blush: #fa7b5a;
$decaf-orange-soda: #f98548;
$decaf-zzzquil: #29193e;
$decaf-lemon-drop: #efc404;
$decaf-taro-slush: #d8c1f7;
$decaf-grapevine: #8c74b7;
$decaf-pepto-bismo: #fd8ba4;
$decaf-slime-lime: #64cd6e;

// legacy colors
$decaf-dark-blue: #2f5f8e;

@font-face {
    font-family: 'Woodchuck';
    font-style: normal;
    font-weight: 100;
    src: local('Woodchuck'),
        url('../../../pages/DecafPage/assets/fonts/Woodchuck-Thin.otf')
            format('opentype');
}

@font-face {
    font-family: 'Woodchuck';
    font-style: normal;
    font-weight: 300;
    src: local('Woodchuck'),
        url('../../../pages/DecafPage/assets/fonts/Woodchuck-Light.otf')
            format('opentype');
}

@font-face {
    font-family: 'Woodchuck';
    font-style: normal;
    font-weight: 400;
    src: local('Woodchuck'),
        url('../../../pages/DecafPage/assets/fonts/Woodchuck-Regular.otf')
            format('opentype');
}

@font-face {
    font-family: 'Woodchuck';
    font-style: normal;
    font-weight: 700;
    src: local('Woodchuck'),
        url('../../../pages/DecafPage/assets/fonts/Woodchuck-Bold.otf')
            format('opentype');
}

@font-face {
    font-family: 'Woodchuck';
    font-style: normal;
    font-weight: 900;
    src: local('Woodchuck'),
        url('../../../pages/DecafPage/assets/fonts/Woodchuck-Heavy.otf')
            format('opentype');
}

.decaf-main {
    color: black;

    * {
        font-family: 'Woodchuck', sans-serif;
    }

    .container {
        max-width: 70%;
    }

    .section-title {
        color: black;
        font-weight: 900;
        font-size: clamp(1.5rem, 3vw, 3rem);

        em {
            color: white;
            font-size: clamp(2rem, 4vw, 4rem);
            font-style: normal;
            text-shadow: 8px 8px 0px $decaf-sunkist-scarlet;
        }
    }
}

.decaf-bg-orange {
    background-color: $decaf-scarlet-blush;
}

.decaf-bg-purple {
    background-color: $decaf-grapevine;
}

@import 'components/all';
