$decaf-sunkist-scarlet: #e55b42;
$decaf-scarlet-blush: #fa7b5a;

@font-face {
    font-family: 'Woodchuck';
    font-style: normal;
    font-weight: 100;
    src: local('Woodchuck'),
        url('../../../pages/DecafPage/assets/fonts/Woodchuck-Thin.otf')
            format('opentype');
}

@font-face {
    font-family: 'Woodchuck';
    font-style: normal;
    font-weight: 300;
    src: local('Woodchuck'),
        url('../../../pages/DecafPage/assets/fonts/Woodchuck-Light.otf')
            format('opentype');
}

@font-face {
    font-family: 'Woodchuck';
    font-style: normal;
    font-weight: 400;
    src: local('Woodchuck'),
        url('../../../pages/DecafPage/assets/fonts/Woodchuck-Regular.otf')
            format('opentype');
}

@font-face {
    font-family: 'Woodchuck';
    font-style: normal;
    font-weight: 700;
    src: local('Woodchuck'),
        url('../../../pages/DecafPage/assets/fonts/Woodchuck-Bold.otf')
            format('opentype');
}

@font-face {
    font-family: 'Woodchuck';
    font-style: normal;
    font-weight: 900;
    src: local('Woodchuck'),
        url('../../../pages/DecafPage/assets/fonts/Woodchuck-Heavy.otf')
            format('opentype');
}

.decaf-main {
    color: black;

    * {
        font-family: 'Woodchuck', sans-serif;
    }

    .container {
        max-width: 70%;
    }

    .section-title {
        color: black;
        font-weight: 900;
        font-size: 3rem;

        em {
            color: white;
            font-size: 4rem;
            font-style: normal;
            text-shadow: 8px 8px 0px $decaf-sunkist-scarlet;
        }
    }
}

@import 'components/all';
