.matcha-flo-intro {
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: $matcha-dark-green;
    color: white;
    position: relative;

    .container {
        margin-bottom: 7rem;
    }

    h1 {
        font-size: 80px;
        font-weight: 900;
    }

    h2 {
        font-size: 50px;
        font-weight: 900;
        margin-bottom: 3rem;
    }

    p {
        font-size: 30px;
        font-weight: 400;
    }

    &__pattern {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 400px;
    }

    &__mantis {
        position: absolute;
        bottom: -300px;
        right: 0;
        z-index: 1;
    }
}
