.matcha-footer {
    position: relative;
    padding-top: 5rem;
    padding-bottom: 5rem;
    background: $matcha-dark-green;
    color: white;
    text-align: center;

    &__pattern {
        width: 300px;
        position: absolute;
        left: 0;
        bottom: 0;

        @include media-breakpoint-down(md) {
            display: none;
        }
    }

    h1 {
        font-family: 'Lato', sans-serif;
    }

    p {
        font-size: clamp(1.5rem, 5vw, 30px);
        font-family: 'Lato', sans-serif;

        a {
            color: white;
            text-decoration: underline;
        }
    }
}
