.matcha-header {
    padding: 2rem 5rem;
    background: $matcha-dark;
    // position: fixed;
    // top: 0;
    // left: 0;
    // width: 100%;

    &__nav-item {
        font-size: 1.5rem;
        font-weight: bold;

        a {
            color: #fff;
        }
    }

    &__nav-brand {
        font-size: 2.5rem;
    }

    &__nav-toggler {
        border-color: transparent;

        .navbar-toggler-icon {
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgb%28255, 255, 255%29' stroke-linecap='square' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
            font-size: 2rem;
        }
    }
}
