.matcha-session-card {
    text-align: left;
    border: solid 10px white;
    border-radius: 20px;
    background-color: $matcha-dark-green;
    padding: 2rem;
    margin-bottom: 2rem;
    position: relative;
    overflow: hidden;

    &__title {
        font-size: 36px;
    }

    &__organizer {
        font-family: 'Lato', sans-serif;
        font-size: 24px;
        font-style: italic;
        font-weight: 400;
    }

    &__pattern {
        position: absolute;
        right: -90px;
        bottom: 0;
        width: 50%;
    }

    &__teacup {
        position: absolute;
        right: 40px;
        bottom: -120px;
        width: 20%;
    }

    &__rotate-0 {
        transform: rotate(0deg);
    }

    &__rotate-1 {
        transform: rotate(90deg);
    }

    &__rotate-2 {
        transform: rotate(180deg);
    }

    &__rotate-3 {
        transform: rotate(270deg);
    }
}

$py: 6rem;

.matcha-sessions {
    text-align: center;
    padding: $py clamp(3rem, 7vw, 7rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: $matcha-dark;
    color: white;
    position: relative;

    &__title {
        font-family: 'Lato', sans-serif;
        font-size: 80px;
        margin-bottom: 3rem;
    }

    &__pattern-t {
        position: absolute;
        top: 0;
        left: 0;
        width: 400px;
    }

    &__pattern-b {
        position: absolute;
        bottom: 0;
        right: 0;
    }
}
