$py: 6rem;

.matcha-about {
    padding-top: $py;
    padding-left: clamp(3rem, 7vw, 7rem);
    padding-right: 0;
    color: $matcha-dark-green;
    position: relative;

    @include media-breakpoint-down(md) {
        padding: clamp(3rem, 7vw, 7rem);
        padding-bottom: 20vw;
    }

    @include media-breakpoint-down(sm) {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }

    &__title {
        font-family: 'Lato', sans-serif;
        font-weight: 900;
        font-size: clamp(2rem, 20vw, 5rem);
        margin-bottom: 0.3em;
    }

    p {
        font-family: 'Lato', sans-serif;
        font-size: clamp(1rem, 2vw, 2rem);
        margin-bottom: 1em;
    }

    &__pattern {
        width: 100%;

        @include media-breakpoint-down(md) {
            display: none;
        }
    }

    &__mantis {
        position: absolute;
        bottom: -350px;
        left: 0;
        z-index: 1;
        pointer-events: none;

        @include media-breakpoint-down(md) {
            width: 200px;
            bottom: -150px;
        }
    }
}
