.matcha-flo-intro {
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: $matcha-dark-green;
    color: white;

    h1 {
        font-size: 80px;
        font-weight: 900;
    }

    h2 {
        font-size: 50px;
        font-weight: 900;
        margin-bottom: 3rem;
    }

    p {
        font-size: 30px;
    }
}
