$eotg-green: #71C167;
$eotg-blue: #50CDF2;

#eotg-main {
    height: 100%;
    background: $eotg-blue;
}

.eotg-contact {
    background: $eotg-blue;

    a {
        color: white;
    }
}

@import './components/all';