$eotg-frozen-ocean: #35808f;
$eotg-ice-pack: #82cddc;
$eotg-green: #71c167;
$eotg-blue: #84dadf;

#eotg-main {
    height: 100%;
    background: $eotg-green;
}

.eotg-contact {
    background: $eotg-green;

    a {
        color: white;
    }
}

@import './components/all';
