$eotg-frozen-ocean: #35808f;
$eotg-ice-pack: #82cddc;

#eotg-main {
    height: 100%;
}

.eotg-contact {
    background: $eotg-frozen-ocean;

    a {
        color: white;
    }
}

@import './components/all';
