
#enspire-main {
    height: 100%;
    margin-left: 2rem;
    margin-right: 2rem;
}

$transparent-white: rgba(255, 255, 255, 0.85);
$border-radius: 0.3rem;
$background: white;
$blue: #003262;

@import './components/all'