$enspire-gradient-blue: linear-gradient(180deg, #00172c 0%, #2b3272 100%);
$enspire-dark: #00172c;
$enspire-blue: #232d66;
$enspire-cyan: #3bc0b2;

@font-face {
    font-family: 'Trap';
    font-style: normal;
    font-weight: 300;
    src: local('Trap'),
        url('../../../pages/EnspirePage/static/Trap-Light.otf')
            format('opentype');
}

@font-face {
    font-family: 'Trap';
    font-style: normal;
    font-weight: 400;
    src: local('Trap'),
        url('../../../pages/EnspirePage/static/Trap-Regular.otf')
            format('opentype');
}

@font-face {
    font-family: 'Trap';
    font-style: normal;
    font-weight: 500;
    src: local('Trap'),
        url('../../../pages/EnspirePage/static/Trap-Medium.otf')
            format('opentype');
}

@font-face {
    font-family: 'Trap';
    font-style: normal;
    font-weight: 600;
    src: local('Trap'),
        url('../../../pages/EnspirePage/static/Trap-SemiBold.otf')
            format('opentype');
}

@font-face {
    font-family: 'Trap';
    font-style: normal;
    font-weight: 700;
    src: local('Trap'),
        url('../../../pages/EnspirePage/static/Trap-Bold.otf')
            format('opentype');
}

@font-face {
    font-family: 'Trap';
    font-style: normal;
    font-weight: 800;
    src: local('Trap'),
        url('../../../pages/EnspirePage/static/Trap-ExtraBold.otf')
            format('opentype');
}

@font-face {
    font-family: 'Trap';
    font-style: normal;
    font-weight: 900;
    src: local('Trap'),
        url('../../../pages/EnspirePage/static/Trap-Black.otf')
            format('opentype');
}

.enspire-main {
    background: $enspire-blue;
    color: white;
    background-image: url(../../../pages/EnspirePage/static/background.svg),
        $enspire-gradient-blue;
    background-size: cover;

    * {
        font-family: 'Trap', sans-serif;
    }

    h1 {
        font-weight: 900;
    }

    a {
        color: $enspire-cyan;
        text-decoration: underline;
    }

    .section-title {
        text-align: center;
        font-size: clamp(1rem, 5vw, 5rem);
    }

    .circuit-line-divider {
        display: flex;
        align-items: center;

        .line {
            height: 15px;
            width: 70vw;
            background-color: $enspire-cyan;
        }

        .circ {
            height: 40px;
            width: 40px;
            border: 7px solid $enspire-cyan;
            border-radius: 50%;
            margin-left: -3px;
        }
    }

    .btn {
        background-color: $enspire-cyan;
        border-color: $enspire-cyan;
        border-radius: 500px;
        color: #1e2a5d;
        font-size: clamp(1rem, 2vw, 2rem);
        font-weight: 800;
        padding: 0.5em 3em;
        margin: 2.5rem auto;
        text-decoration: none;
    }
}

@import './components/all';
