@import 'decaf/decaf';
@import 'eotg/eotg';
@import 'enspire/enspire';
@import 'matcha/matcha';

/* Set width to make card deck cards 100% width */
@media (max-width: 950px) {
    .card-deck-wrapper {
        margin-right: 0;
        margin-left: 0;
    }
    .card-deck {
        display: block;
        width: 100%;
        margin-bottom: 0.75rem;
        table-layout: fixed;
        border-spacing: 1.25rem 0;
        margin-left: 0;
        margin-right: 0;
    }
    .card-deck .card {
        display: block;
        margin-bottom: 0.75rem;
        vertical-align: top;
    }
}
