.eotg-about {
    background-image: url(../../../../pages/EOTGPage/svg/bg-about.svg);
    background-size: cover;
    //background: $eotg-green;
    min-height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
    h1 {
        padding-top: 5rem;
        font-size: 3rem;
        font-family: 'Ubuntu';
        color: #E8F7FA;
    }

    p,
    a {
        font-size: 2rem;
        font-family: 'Ubuntu';
        color:#E8F7FA;
    }

    a {
        text-decoration: underline;
    }

    @include media-breakpoint-down(sm) {
        padding-top: 1rem;
    }
}
