.eotg-about {
    // background-image: url(../../../../pages/EOTGPage/svg/bg-about.svg);
    // background-size: cover;
    background: $eotg-green;

    h1 {
        padding-top: 5rem;
        color: white;
    }

    p,
    a {
        font-size: 1.3rem;
        color: white;
    }

    a {
        text-decoration: underline;
    }

    @include media-breakpoint-down(sm) {
        padding-top: 1rem;
    }
}
