.eotg-about {
    //background-image: url(../../../../pages/EOTGPage/svg/bg-about-winter.svg); //CHANGE THIS TO CHANGE THE SEASONS
    background-size: contain;
    background-color: $eotg-blue;
    min-height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
    h1 {
        padding-top: 5rem;
        font-size: 3rem;
        font-family: 'Ubuntu', sans-serif;
        color: #E8F7FA;
    }

    p,
    a {
        font-size: 2rem;
        font-family: 'Ubuntu', sans-serif;
        color:#E8F7FA;
    }

    a {
        text-decoration: underline;
    }

    @include media-breakpoint-down(sm) {
        padding-top: 1rem;
    }
}
//https://www.geeksforgeeks.org/css-floating-animation/ FOR BOBBING ANIM
.floating { 
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
    @keyframes floating {
        0% { transform: translate(0,  0px); }
        50%  { transform: translate(0, 15px); }
        100%   { transform: translate(0, -0px); }   
    }
}