.company-table {
    font-size: 0.9rem;
    background: white;
    border: solid 2px white;
    border-radius: 2*$border-radius;
    border-collapse: separate;
    margin-bottom: 0;
    display: block;
    width: 100%;
  
    //overrides for macOS to show scrollbar always
    ::-webkit-scrollbar {
      -webkit-appearance: none;
      width: 7px;
    }
    ::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: $eotg-green;
        -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
    }
  
  
    th {
      width: 25%;
      border: none;
      vertical-align: middle;
      font-weight: normal;
    }
  
    tr:nth-child(2) td {
      border: none;
    }
  
    tbody {
      display: block;
      max-height: 30rem;
      overflow: scroll !important;
    }
  
    td {
      border-color: $eotg-green;
      border-width: 2px;
      vertical-align: middle;
    }
  
    &__header {
      background-color: $eotg-green;
      color: black;
    }
  
    &__search {
      border: none;
    }
  }
  