.company {
    
    background: white;
    border-radius: 8px;

    &__left {
        margin-left: 2rem;
    }

    &__content {
        margin: 1rem 0;

        @include media-breakpoint-down(md) {
            text-align: center;
        }
    }

    &__featurette {
        width: 80%;
        display: block;
        margin: 10%;

        &-black {
            width: 80%;
            display: block;
            margin: 10%;
            background: grey;
        }
    }

    &__name {
        font-size: 2rem;
        margin-bottom: 1rem;
        text-decoration: underline;
    }

    &__industry, &__auth, &__position {
        margin: .25rem 0;
        color: black;

        span {
            color: black;
        }
    }
}