.eotg-faq {
    width: 100%;
    background: $eotg-green;
    color: white;

    &__head {
        text-align: center;
        padding-top: 4rem;
        font-size: 3rem;
        font-family: 'Ubuntu', sans-serif;
        font-weight: 900;
        color: white;

        &-sub {
            text-align: center;
            font-size: 1.489rem;
        }
    }
}

.eotg-question {
    border: solid 2px white;
    font-size: 1.2rem;
    font-family: 'Ubuntu', sans-serif;
    text-align: initial;
    border-radius: $border-radius * 4;
    margin-bottom: 2rem;
    background: white;

    &__heading {
        margin: 0.8rem 2rem;
        text-align: center;

        a {
            color: $eotg-green;
            font-size: 1.4rem;
            font-weight: 800;

            &:hover {
                text-decoration: none;
            }

            &[aria-expanded='true'] {
                .question__icon {
                    transform: rotate(135deg);
                    -webkit-transition-duration: 0.5s;
                    -moz-transition-duration: 0.5s;
                    -o-transition-duration: 0.5s;
                    transition-duration: 0.5s;
                }
            }

            &[aria-expanded='false'] .question__icon {
                transform: rotate(0);
                -webkit-transition-duration: 0.5s;
                -moz-transition-duration: 0.5s;
                -o-transition-duration: 0.5s;
                transition-duration: 0.5s;
            }
        }
    }

    &__content {
        margin: 0 2rem;
        color: $eotg-green;
    }
}

//https://www.geeksforgeeks.org/css-floating-animation/ FOR BOBBING ANIM
.floating { 
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
    @keyframes floating {
        0% { transform: translate(0,  0px); }
        50%  { transform: translate(0, 15px); }
        100%   { transform: translate(0, -0px); }   
    }
}

.center {
    margin: auto;
    width: 100%;
    border: 3px solid white;
    padding: 10px;
  }