.eotg-filter {
    background-color: $white;
    width: 100%;
    text-align: left;
    color: black;
    padding-left: 0.3rem;

    &:after {
        position: absolute;
        right: 0.5rem;
        top: calc(50% - 0.2rem);
    }

    &__badge {
        background: $eotg-green;
        color: white;
    }

    &__clear {
        background: transparent;
        margin-right: 0.1rem;
        padding: 0 0.4rem;

        &:hover,
        &:focus {
            background: $eotg-green;
            color: black;
        }
    }
}
