.eotg-hero {
    background: $eotg-blue;
    min-height: 100vh;
    display: flex;
    align-items: center;
    position: relative;

    &__container {
        width: 100%;
        height: 100%;
    }

    &__title {
        font-size: 3rem;
        color: white;
    }

    &__graphic {
        width: 80%;
        margin: 0 auto;
    }

    &__logo {
        width: 60%;
    }

    &__detail {
        font-size: 1.2rem;
        color: white;
    }

    &__button_div {
        margin-top: 2rem;
    }

    &__button {
        border: 4px solid white;
        border-radius: 16px;
        color: white;
        background: transparent;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        margin-top: 1rem;
        font-size: 1.2rem;

        &:hover {
            background: white;
            color: $eotg-blue;
            text-decoration: none;
        }
    }

    &__clouds-top {
        padding-top: 4rem;

        img {
            width: 80%;
            max-width: 400px;
            mix-blend-mode: soft-light;
        }
    }

    &__clouds-bottom {
        display: flex;
        align-items: flex-end;
        width: 100vw;
        position: relative;
        bottom: -30px;

        .cloud-bottom-right {
            text-align: right;
            padding-right: 0;

            img {
                width: 70%;
            }
        }

        img {
            width: 100%;
        }
    }
}
