.eotg-hero {
    background: $eotg-blue;
    padding-top: 4rem;
    
    &__container {
        width: 100%;
        height: 100%;
    }

    &__title {
        font-size: 3rem;
        color: white;
    }

    /*&__right {
        padding: 3rem;
    }*/

    &__cta {
        color: $decaf-dark-blue !important;
        background: white;
        font-size: 1.5rem;
        border-radius: 1rem;
        margin-top: 1.5rem;
        border: solid 2px white;

        &:hover {
            background: transparent;
            color: white !important;
        }
    }

    &__graphic {
        width: 80%;
        height: 80%;
        //display: block;
        //margin-left: auto;
        //margin-top: 1rem;
        //z-index: 100;
    }

    &__logo {
        width: 60%;
    }

    &__detail {
        font-size: 1.2rem;
        color: white;
    }

    &__button_div {
        margin-top: 2rem;
    }

    &__button {
        border: 4px solid white;
        border-radius: 16px;
        color: white;
        background: transparent;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        margin-top: 1rem;
        font-size: 1.2rem;

        &:hover {
            background: white;
            color: $eotg-blue;
            text-decoration: none;
        }
    }
}