.eotg-hero {
    // background-image: url(../../../../pages/EOTGPage/svg/bg-hero.svg);
    // background-size: cover;
    background: $eotg-blue;
    min-height: 100vh;
    display: flex;
    align-items: center;
    position: relative;

    &__container {
        width: 100%;
        height: 100%;
    }

    &__title {
        font-size: 3rem;
        color: white;
    }

    &__graphic {
        width: 80%;
        margin: 0 auto;
    }

    &__logo {
        width: 60%;
    }

    &__detail {
        font-size: 1.2rem;
        color: white;
    }

    &__button_div {
        margin-top: 2rem;
    }

    &__button {
        border: 4px solid white;
        border-radius: 16px;
        color: white;
        background: transparent;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        margin-top: 1rem;
        font-size: 1.2rem;

        &:hover {
            background: white;
            color: $eotg-blue;
            text-decoration: none;
        }
    }

    .bg-img {
        -webkit-user-drag: none;
        user-select: none;
    }
}
