.eotg-hero {
    background: $eotg-green;

    /*&__green {
        background: linear-gradient(49.53deg, $decaf-dark-green 12.76%, $decaf-light-green 97.14%);
    }
    
    &__container {
        width: 80%;
        margin-left: 10%;
        height: 87%;
    }

    &__left {
        @include media-breakpoint-down(sm) {
            text-align: center;
            margin-top: 3rem;
        }
    }

    &__title {
        font-size: 1.5rem;
        margin-top: 2rem;
    }

    &__cta {
        color: $decaf-dark-blue !important;
        background: white;
        font-size: 1.5rem;
        border-radius: 1rem;
        margin-top: 1.5rem;
        border: solid 2px white;

        &:hover {
            background: transparent;
            color: white !important;
        }
    }

    &__graphic {
        width: 45%;
        height: 45%;
        display: block;
        margin-left: auto;
        margin-top: 1rem;

        @include media-breakpoint-down(sm) {
            margin: 2rem auto;
        }
    }

    &__logo {
        width: 60%;
    }

    &__detail {
        font-size: 1.2rem;
    }*/
}