.eotg-hero {
    //background-image: url(../../../../pages/EOTGPage/svg/bear-island-fall);
    background-size: cover;
    background: $eotg-blue;
    min-height: 100vh;
    display: flex;
    align-items: center;
    position: relative;E

    &__container {
        width: 100%;
        height: 100%;
    }

    &__title {
        font-size: 3rem;
        font-family: 'Ubuntu', sans-serif ;
        color: #E8F7FA;
        //https://www.geeksforgeeks.org/css-floating-animation/ FOR BOBBING ANIM
        animation-name: floating;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        margin-left: 30px;
        margin-top: 5px;
        @keyframes floating {
            0% { transform: translate(0,  0px); }
            50%  { transform: translate(0, 15px); }
            100%   { transform: translate(0, -0px); }   
        }
    }

    &__graphic {
        width: 100%;
        margin: 0 auto;
        margin-top: 5rem;
    }

    &__logo {
        width: 60%;
    }

    &__detail {
        font-size: 1.5rem;
        font-family: 'Ubuntu', sans-serif;
        color: #E8F7FA;
    }

    &__button_div {
        margin-top: 2rem;
    }

    &__button {
        border: 4px solid white;
        border-radius: 16px;
        color: white;
        background: transparent;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        margin-top: 1rem;
        font-size: 1.2rem;

        &:hover {
            background: white;
            color: $eotg-green;
            text-decoration: none;
        }
    }
     
    .bg-img {
        -webkit-user-drag: none;
        user-select: none;
    }
}


.floating { 
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-bottom: 5rem;
}
 
@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }   
}