.eotg-org {

    &__left {
        margin-left: 2rem;
    }

    &__content {
        margin: 1rem;
        padding: 0.25rem;
        border-radius: 8px;
        border-style: solid;
        border-color: white;
        text-align: center;
    }

    &__featurette {
        width: 80%;
        display: block;
        margin: 10%;

        &-black {
            width: 80%;
            display: block;
            margin: 10%;
            background: grey;
        }
    }

    &__name {
        font-size: 1.2rem;
        margin-bottom: 1rem;
        color: white;
        //text-decoration: underline;
    }

    &__department {
        margin: .25rem 0;
        color: white;
        font-size: 1rem;

        span {
            color: white;
        }
    }
}