.eotg-attending-orgs {
    background: $eotg-green;

    &__header {
        margin-bottom: 2rem;
        padding-top: 4rem;
        color: white;
        text-align: center;
    }

    &__day {
        padding: 1.5rem 0;
        font-size: 1.2rem;
        color: white;
        text-align: center;
    }

    a {
        padding-left: 1rem;
        padding-right: 1rem;
        vertical-align: bottom;
        color: white;
        font-size: 1.1rem;
        font-weight: 700;
    }
}

.eotg-org {
    &__left {
        margin-left: 2rem;
    }

    &__content {
        cursor: pointer;
        margin: 1rem;
        padding: 0.25rem;
        border-radius: 8px;
        border-style: solid;
        border-color: white;
        text-align: center;
        color: white;
    }

    &__featurette {
        width: 80%;
        display: block;
        margin: 10%;

        &-black {
            width: 80%;
            display: block;
            margin: 10%;
            background: grey;
        }
    }

    &__name {
        font-size: 1rem;
        margin-bottom: 1rem;
        color: white;
    }

    &__department {
        margin: 0.25rem 0;
        color: white;
        font-size: 1rem;

        span {
            color: white;
        }
    }
}
