.tabling {
    padding-bottom: 5rem;
    background: $eotg-green;
  
    &__header {
      margin-bottom: 2rem;
      padding-top: 4rem;
      font-size: 3rem;
      color: white;
      text-align: center;
    }
  }