.enspire-contact {
    background: $background;
    margin: 0;

    h1 {
        color: black;
        font-size: 1.6rem;
    }

    &__link {
        color: black;
    }

    &__link:hover {
        color: black;
    }
}