.enspire-contact {
    background: $background;

    h1 {
        color: $blue;
        font-size: 1.75rem;
    }

    &__link {
        color: $blue;
    }

    &__link:hover {
        color: $blue;
    }
}