.enspire-footer {
    background-color: $enspire-cyan;
    padding: 4.3rem 0;
    color: $enspire-blue;
    position: relative;
    overflow: hidden;

    &__brand {
        h1 {
            font-size: 5rem;
            margin-bottom: -15px;
        }

        h2 {
            font-size: 2rem;
            font-weight: 800;
        }
    }

    &__contact {
        h1 {
            margin-bottom: 2rem;
        }

        h2 {
            font-size: 1.5rem;
        }

        a {
            color: $enspire-blue;
        }
    }

    &__img {
        position: absolute;
        top: 0;
        right: 0;
    }
}
