.enspire-header {
    background-color: $enspire-cyan;
    position: fixed;
    right: 0;
    top: 5vw;
    padding: 0.5em;
    border-radius: 20px 0 0 20px;
    z-index: 1000;

    font-weight: 900;
    font-size: clamp(1rem, 2vw, 2rem);

    .nav {
        height: auto;
    }

    a {
        color: white;
        transition: color 0.1s;
        text-decoration: none;
    }

    a:hover {
        color: #013f8c;
    }
}
