.enspire-hero {
    
    background-image: url(/Enspire-hero-bg.png);
    background-size: cover;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: $transparent-white;
    }

    &__logo {
        max-width: 100%;
    }

    .enspire-contents {
        z-index: 1;
    }

    img {
        background-size: cover;
    }

    p {
        color: $tesc-blue;
        font-size: 1.5rem;
        font-weight: 600;
    }

    .btn-space-right {
        margin-right: 1rem;
    }

    .btn-space-left {
        margin-left: 1rem;
    }

    .btn-custom-large {
        color: $enspire-yellow;
        border-color: $enspire-yellow;
        font-weight: 1000;
        border: 2px solid $enspire-yellow;
        font-size: 1.8rem;
        padding-right: 1.5rem;
        padding-left: 1.5rem;
        border-radius: 1.2rem;
    }

    .btn-custom-large:hover {
        color: white;
        background-color: $enspire-yellow;
    }

    .btn.btn-custom-chevron {
        color: $enspire-yellow;
        border-color: transparent;
        background-color: transparent;
    }
    
    .btn-custom-chevron:focus,
    .btn-custom-chevron:hover,
    .btn-custom-chevron:active {
        background-color: transparent;
    }
}