.enspire-hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 3rem;
    background: url(../../../../pages/EnspirePage/static/jelly-hero.svg)
        no-repeat;
    background-position: 50% clamp(1rem, 85%, 15rem);
    min-height: 100vh;
    display: flex;
    align-items: center;

    &__content {
        flex: 1;
    }

    &__title {
        font-size: clamp(4rem, 20vw, 180px);
        text-align: center;
        margin-bottom: -40px;
        text-shadow: 7px 7px 0px $enspire-dark;

        sup {
            font-size: 100%;
            top: -0.2em;
        }

        @include media-breakpoint-down(sm) {
            margin-bottom: 1rem;
        }
    }

    &__sup {
        font-size: 2.5rem;
        font-weight: 700;
        margin-bottom: 0;
    }

    &__sub {
        font-weight: bold;
        font-size: clamp(1.3rem, 5vw, 1.7rem);
        text-align: right;
        text-shadow: 2px 2px 0px #000000;
        margin-right: 4em;

        @include media-breakpoint-down(sm) {
            margin-right: 0;
        }

        ul {
            list-style: none;
        }

        li {
            margin-bottom: -10px;
        }
    }

    &__img {
        margin: 0 auto;
    }
}
