.enspire-pics {
    background: $background;
    color: black;
    position: relative;

    &__head {
        text-align: center;
        font-size: 2.8rem;
        padding-top: 3rem;
    }

    &__photo {
        padding: 1rem;
        width: 100%;
    }
}