.enspire-register {
    text-align: center;

    .container {
        margin-top: 3rem;
        min-height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__title {
        .sup {
            font-size: clamp(1rem, 10vw, 3rem);
            color: $enspire-cyan;
            text-align: left;
            margin-bottom: 0;
        }

        .main {
            font-size: clamp(2rem, 20vw, 6.25rem);
        }

        .sub {
            font-size: clamp(2rem, 15vw, 3.25rem);
            text-align: right;
        }
    }

    h2 {
        font-size: 3rem;
    }
}
