.enspire-register {
    text-align: center;

    .container {
        margin-top: 3rem;
        min-height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__title {
        .sup {
            font-size: 3rem;
            color: $enspire-cyan;
            text-align: left;
            margin-bottom: 0;
        }

        .main {
            font-size: 6.25rem;
        }

        .sub {
            font-size: 3.75rem;
            text-align: right;
        }
    }

    h2 {
        font-size: 3rem;
    }
}
