.enspire-schedule {
    background: $background;
    color: black;
    padding-left: 2rem;
    padding-right: 2rem;

    &__head {
        text-align: center;
        font-size: 2.8rem;
    }

    p {
        font-size: 1.3rem;
    }
}