@import url('https://fonts.googleapis.com/css?family=Cabin:400,600|Work+Sans');
@import 'bootstrap-overrides';
@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

//variables
$white: #fff;
$tesc-blue: #004E74;

$tesc-light-blue: #00488E;

$tesc-red: #FF6E74;

$enspire-yellow: #FFD42A;

$header-color: #5A5A5A;

$default-shadow-color: rgba(12, 42, 51, 0.3);
$default-shadow: 0 2px 16px $default-shadow-color;
$extended-shadow: 0 2px 22px $default-shadow-color;

$contact-gradient: linear-gradient(to right bottom, $tesc-light-blue 33%, $tesc-blue);