@import 'base';

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Work Sans', sans-serif;
    background: $white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Cabin', sans-serif;
    font-weight: 600;
}

#app {
    height: 100%;
    display: flex;
    flex-direction: column;
}

@import 'components/all';
@import 'apps/all';
